<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <h1>Login</h1>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="Login()">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input formControlName="Email" type="email" class="form-control" id="email" placeholder="Please Enter Email"><br>
              <span class="text-danger" *ngIf="loginForm.controls['Email'].dirty && loginForm.controls['Email'].hasError('required')">Email id is Required</span>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input formControlName="Password" type="password" class="form-control" id="password" placeholder="Please Enter Password"><br>
              <span class="text-danger" *ngIf="loginForm.controls['Password'].dirty && loginForm.controls['Password'].hasError('required')">Password is Required</span>
            </div>
              <button type="submit"[disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
          </form>
          <a style="color: white; margin-top: 10px;" routerLink="/SignUp">New User? Click to Sign Up!!</a>
        </div>
      </div>
    </div>
  </div>
  